<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 
	See https://github.com/nlog/nlog/wiki/Configuration-file 
	for information on customizing logging rules and outputs.
	 -->
	<targets>
		<!-- add your targets here -->

		<!--
		<target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
						layout="${longdate} ${uppercase:${level}} ${message}" />
		-->

		<target
			name="MailContent"
			xsi:type="File"
			encoding="UTF-8"
			fileName="${basedir}/Log/MailContent/${shortdate} - ${gdc:item=User}.txt"
			archiveFileName="${basedir}/log/${level}.{#}.txt"
			archiveNumbering="Rolling"
			archiveEvery="Day"
			maxArchiveFiles="7"
			layout="${longdate}|${level:uppercase=true}|${newline}${message}|${onexception:inner=${exception:format=Message,Type}}"
			/>

		<target
			name="Error"
			xsi:type="File"
			encoding="UTF-8"
			fileName="${basedir}/Log/Error/${shortdate}.txt"
			archiveFileName="${basedir}/log/${level}.{#}.txt"
			archiveNumbering="Rolling"
			archiveEvery="Day"
			maxArchiveFiles="7"
			layout="${longdate}|${level:uppercase=true}|${newline}${message}|${onexception:inner=${exception:format=Message,Type}}"
				/>

		<target
			name="SQL"
			xsi:type="File"
			encoding="UTF-8"
			fileName="${basedir}/Log/SQL/${shortdate}.txt"
			archiveFileName="${basedir}/log/${level}.{#}.txt"
			archiveNumbering="Rolling"
			archiveEvery="Day"
			maxArchiveFiles="7"
			layout="${longdate}|${level:uppercase=true}|${newline}${message}|${onexception:inner=${exception:format=Message,Type}}"
				/>
	</targets>



	<rules>
		<!-- add your logging rules here -->

		<logger name="*" level="Trace" writeTo="MailContent" />
		<logger name="*" level="Error" writeTo="Error" />
		<logger name="*" level="Debug" writeTo="SQL" />


	</rules>
</nlog>