<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://Report-1:8080</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>Report-1</MSDeployServiceURL>
    <DeployIisAppPath>RinnaiPortal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Rinnai\cynthia.weng</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RinnaiPortal.Models.ApplicationDbContext, RinnaiPortal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SmartManConnectionStringName" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=iteip;Initial Catalog=HRIS;Persist Security Info=True;User ID=sa;Password=z" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SmartManConnectionStringName_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=iteip;Initial Catalog=HRIS;Persist Security Info=True;User ID=sa;Password=z" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LocalConnectionStringName" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=websrv;Initial Catalog=RinnaiPortal_Formal;Persist Security Info=True;User ID=sa;Password=p@ssw0rd" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LocalConnectionStringName_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=websrv;Initial Catalog=RinnaiPortal_Formal;Persist Security Info=True;User ID=sa;Password=p@ssw0rd" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TrainingConnectionStringName" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=websrv;Initial Catalog=TRAIN;Persist Security Info=True;User ID=sa;Password=p@ssw0rd" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TrainingConnectionStringName_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=websrv;Initial Catalog=TRAIN;Persist Security Info=True;User ID=sa;Password=p@ssw0rd" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DbINV" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RinnaiPortal.Entities.DbINV, RinnaiPortal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NavisionNewDB" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RinnaiPortal.Entities.NavisionNewDB, RinnaiPortal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RinnaiPortal.Entities.DBISO" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RinnaiPortal.Entities.DBISO, RinnaiPortal" Origin="" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DbINV-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LocalConnectionStringName-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NavisionNewDB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RinnaiPortal.Entities.DBISO-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SmartManConnectionStringName-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TrainingConnectionStringName-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="RinnaiPortal.Entities.DBISO" />
  </ItemGroup>
</Project>